doctype html
html
  head
    title Ma Page
  body
    .sidebar
      button.sidebar-button#button1(onclick="location.href='/home'") Home
      button.sidebar-button#button2(onclick="location.href='/books'") All Books
      button.sidebar-button#button3(onclick="location.href='/authors'") All Authors
      button.sidebar-button#button4(onclick="location.href='/create-author'") Create new author
      button.sidebar-button#button5(onclick="location.href='/create-book'") Create new book
    .main-content
      // Contenu principal de votre page
      h1 Author list

